.header{
  font-size: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 15px;
  padding-right: 2px;
  width: 335px;
  margin-left: 100px;
  background-color: green;
  font-family: arial;
  margin-top: 59px;
}
.nav{
  font-size:20px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 2px;
  width: 335px;
  margin-left: 100px;
  font-family: arail;
  background-color: green;
  display: block;
  margin-bottom:15px;
  }

.button-1{
color:aliceblue;
border: 0 solid ;
padding-left: 30px;
padding-right: 10px;
padding-bottom: none;
margin-left: 10px;
}
.button-2{
color:aliceblue;
border: 0 solid ;
padding-left: 30px;
padding-right: 10px;
padding-bottom: none;
margin-left: 10px;
}
.button-3{
color:aliceblue;
border: 0 solid ;
padding-left: 30px;
padding-right: 10px;
padding-bottom: none;
margin-left: 10px;
}
.button-4{
color:aliceblue;
border: 0 solid ;
padding-left: 30px;
padding-right: 10px;
padding-bottom: none;
margin-left: 10px;
}
.article{
  width: 225px;
  background-color: blue;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  font-size: 22px;
  text-align:center;
  letter-spacing: 2px;
  display: inline-block;
}
.section{
  font-size: 14px;
  background-color: lightblue;
  margin-top: 10px;
  width: 190px;
  margin-left: 17px;
  padding-top: 15px;
  padding-bottom:15px ;
  text-align: left;
  padding-left: 7px;
  letter-spacing: 0.19px;
}
.section-1{
  font-size: 14px;
  background-color: lightblue;
  margin-top: 10px;
  padding-left: 7px;
  width: 190px;
  margin-left: 17px;
  padding-top: 15px;
  padding-bottom:15px ;
  text-align: left;
  letter-spacing: 0;
}
.section-2{
  font-size: 14px;
  background-color: lightblue;
  padding-left: 7px;
  margin-top: 10px;
  width: 190px;
  margin-left: 17px;
  padding-top: 15px;
  padding-bottom:15px ;
  text-align: left;
  letter-spacing: 0;
}
.aside{
border: 0 solid grey;
font-size:23px;
background-color:lightgrey;
margin-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 73px;
display: inline-block;
margin-left: 8px;
vertical-align: top;
}
.buttons{
display: block;
border: 0 solid grey;
color: aliceblue;
margin-top: 17px;
margin-left: 5px;
padding-right: 35px;
padding-left: 35px;
padding-top: 20px;
}
.buttons-1{
display: block;
border: 0 solid grey;
margin-top: 17px;
color: aliceblue;
margin-left: 5px;
padding-right: 35px;
padding-left: 35px;
padding-top: 20px;
}
.footer{
margin-bottom: 8px;
width: 345px;
background-color: aquamarine;
margin-left: 100px;
font-family: arial;
padding-top: 15px;
padding-bottom:15px;
font-family: arial;
font-size: 18px;
letter-spacing: 1px;
padding-left: 9px;
}